In [1]:
import json
import pandas as pd

In [44]:
year = 2023
month = 1
day = 1

In [47]:
logs_file = f'data/{year:04d}/{month:02d}/{year:04d}-{month:02d}-{day:02d}-predictions.jsonl'

df_logs = pd.read_json(logs_file, lines=True)

df_predictions = pd.DataFrame()
df_predictions['ride_id'] = df_logs['ride_id']
df_predictions['prediction'] = df_logs['prediction'].apply(lambda p: p['prediction']['duration'])

In [48]:
trips_file = f'data/{year:04d}/{month:02d}/{year:04d}-{month:02d}-{day:02d}.parquet'

In [49]:
df_trips = pd.read_parquet(trips_file)

In [51]:
df = df_trips.merge(df_predictions)

In [52]:
df

,ride_id,lpep_pickup_datetime,lpep_dropoff_datetime,PULocationID,DOLocationID,trip_distance,duration,prediction
0,2023-01-0,2023-01-01 00:26:10,2023-01-01 00:37:11,166,143,2.58,11.016667,17.603005
1,2023-01-1,2023-01-01 00:51:03,2023-01-01 00:57:49,24,43,1.81,6.766667,10.934717
2,2023-01-2,2023-01-01 00:35:12,2023-01-01 00:41:32,223,179,0.00,6.333333,11.045513
3,2023-01-3,2023-01-01 00:13:14,2023-01-01 00:19:03,41,238,1.30,5.816667,11.618389
4,2023-01-4,2023-01-01 00:33:04,2023-01-01 00:39:02,41,74,1.10,5.966667,7.522082
...,...,...,...,...,...,...,...,...
1386,2023-01-64057,2023-01-01 21:16:00,2023-01-01 21:32:00,126,78,5.00,16.000000,22.175784
1387,2023-01-64058,2023-01-01 21:17:00,2023-01-01 21:32:00,244,41,2.57,15.000000,9.612032
1388,2023-01-64059,2023-01-01 22:23:00,2023-01-01 22:42:00,173,179,6.28,19.000000,13.252299
1389,2023-01-64060,2023-01-01 23:30:00,2023-01-01 23:36:00,255,112,1.07,6.000000,15.592887
1390,2023-01-64061,2023-01-01 23:25:00,2023-01-01 23:30:00,129,82,0.81,5.000000,15.891099